html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0px 6px 5px rgb(54, 54, 54);
}

.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    height: 80px;
    width: auto;
    cursor: pointer;
}

.header-logo > a{
    text-decoration: none;
}

.store-name{
    font-family: 'Lobster', cursive;
    font-size: 2.4rem;
    margin-right: 10px;
    color: rgb(116, 8, 8);
}

.header-links{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.header-links > a{
    color: #666340;
    margin: 0px 20px;
    line-height: 36px;
    text-decoration: none;
}

.header-links > a:hover{
    cursor: pointer;
    font-size: 24px;
    font-style: bold;
}

.landing-container{
    background-image: url("./assets/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
    padding-top: 120px;
}

.title-section{
    width: 98%;
    text-align: center;
    color: #EFF4F0;
}

.title-section > h2{
    color: #cac8ad;
    font-size: 30px;
    cursor: default;
}

.title-section > h1{
    font-size: 40px;
    font-family: 'Otomanopee One', sans-serif;
    cursor: default;
}

.subscription-section{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-image {
    margin-right: 50px;
}

.subscription-image > img{
    width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(31, 31, 31);
}

.subscription-form{
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #EFF4F0;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgb(31, 31, 31);
}

.subscription-form > h3{
    text-align: center;
    cursor: default;
}
.subscription-form > label{
    margin-top: 20px;
}

.subscription-form > input {
    margin-top: 10px;
    padding: 5px;
    border: 0 none;
    border-radius: 5px;
    font-size: 14px;
}

.subscription-form > input:focus{
    box-shadow: 0;
    outline: 0;
}

.subscription-form > input:hover{
    cursor: pointer;
}

.subscription-form > button{
    margin-top: 50px;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    border: 0 none;
    font-size: 20px;
    background-color: #970C10;
    color: #EFF4F0;
}

.subscription-form > button:hover{
    cursor: pointer;
    border: 2px solid #EFF4F0;
}

.products-container{
    background-color: #EFF4F0;
    width: 100%;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.product-card{
    border: 2px solid #666340;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    width: 240px;
    margin: 20px;
    box-shadow: 2px 2px 10px rgb(117, 117, 117);
}

.product-card:hover{
    cursor: pointer;
    width: 260px;
    box-shadow: 10px 10px 8px rgb(117, 117, 117);
}

.product-card:hover > img{
    height: 260px;
    width: auto;
}

.product-card:hover .product-description{
    font-size: 20px;
}

.product-card >img{
    height: 240px;
    border-radius: 20px;
    width: auto;
}

.product-description{
    color: #970C10;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

footer{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon{
    height: 28px;
    width: auto;
    margin: 0 15px;
}

.hidden {
    visibility: hidden;
}

@media(max-width: 1296px){
    .products-container{
        height: 880px;
    }
}

@media(max-width: 700px){

    header{
        flex-direction: column;
        padding-bottom: 0;
    }

    .header-logo{
        height: 70px;
        width: auto;
        margin:0
    }

    .store-name{
        font-size: 2rem;
    }

    .header-links{
        margin: 10px 0;
    }

    .landing-container{
        padding-top: 140px;
    }
    .subscription-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .subscription-image {
        margin: 0;
    }

    .subscription-image > img{
        width: 350px;
        height: auto;
        margin-bottom: 20px;
    }

    .products-container{
        padding: 0;
        flex-direction: column;
        height: auto;
    }
}